<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPrivacyAccessedAPITypes</key>
    <array>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSPrivacyAccessedAPICategoryFileTimestamp</string>
            <key>NSPrivacyAccessedAPI</key>
            <dict>
                <key>.creationDate</key>
                <string>C617.1</string>
                <key>NSFileCreationDate</key>
                <string>C617.1</string>
                <key>.modificationDate</key>
                <string>C617.1</string>
                <key>NSFileModificationDate</key>
                <string>C617.1</string>
                <key>.fileModificationDate</key>
                <string>C617.1</string>
                <key>fileModificationDate</key>
                <string>C617.1</string>
                <key>.contentModificationDateKey</key>
                <string>C617.1</string>
                <key>NSURLContentModificationDateKey</key>
                <string>C617.1</string>
                <key>.creationDateKey</key>
                <string>C617.1</string>
                <key>NSURLCreationDateKey</key>
                <string>C617.1</string>
                <key>getattrlist</key>
                <string>C617.1</string>
                <key>getattrlistbulk</key>
                <string>C617.1</string>
                <key>fgetattrlist</key>
                <string>C617.1</string>
                <key>stat</key>
                <string>C617.1</string>
                <key>fstat</key>
                <string>C617.1</string>
                <key>fstatat</key>
                <string>C617.1</string>
                <key>lstat</key>
                <string>C617.1</string>
                <key>getattrlistat</key>
                <string>C617.1</string>
            </dict>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <dict>
                <key>DDA9.1</key>
                <string>This reason is declared to display file timestamps to the person using the device. Information accessed for this reason or any derived information may not be sent outside of the device.</string>
                <key>C617.1</key>
                <string>This reason is declared for accessing timestamps, size, or other metadata of files within the application container, application group container, or the application's CloudKit container.</string>
                <key>3B52.1</key>
                <string>This reason is declared for accessing timestamps, size, or other metadata of files or directories explicitly granted access by the user, such as using the document picker view controller.</string>
                <key>0A2A.1</key>
                <string>If your third-party SDK provides wrapper functions for file timestamp APIs for application use, and you access file timestamp APIs only when your wrapper functions are called by an application, declare this reason. This reason can only be declared by third-party SDKs. Information accessed or any derived information for this reason must not be used for the third-party SDK's own purposes, nor be sent outside of the device by the third-party SDK.</string>
            </dict>
        </dict>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSPrivacyAccessedAPICategorySystemBootTime</string>
            <key>NSPrivacyAccessedAPI</key>
            <dict>
                <key>systemUptime</key>
                <string>35F9.1</string>
                <key>mach_absolute_time</key>
                <string>35F9.1</string>
            </dict>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <dict>
                <key>35F9.1</key>
                <string>This reason is declared to access system boot time to measure time intervals between events occurring within the application, or to perform calculations enabling timers. Information accessed or any derived information for this reason cannot be sent from the device, with an exception for information about time intervals between events occurring within the application which may be sent through the device.</string>
            </dict>
        </dict>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSPrivacyAccessedAPICategoryDiskSpace</string>
            <key>NSPrivacyAccessedAPI</key>
            <dict>
                <key>.volumeAvailableCapacityKey</key>
                <string>E174.1</string>
                <key>NSURLVolumeAvailableCapacityKey</key>
                <string>E174.1</string>
                <key>.volumeAvailableCapacityForImportantUsageKey</key>
                <string>E174.1</string>
                <key>NSURLVolumeAvailableCapacityForImportantUsageKey</key>
                <string>E174.1</string>
                <key>.volumeAvailableCapacityForOpportunisticUsageKey</key>
                <string>E174.1</string>
                <key>NSURLVolumeAvailableCapacityForOpportunisticUsageKey</key>
                <string>E174.1</string>
                <key>.volumeTotalCapacityKey</key>
                <string>85F4.1</string>
                <key>NSURLVolumeTotalCapacityKey</key>
                <string>85F4.1</string>
                <key>.systemFreeSize</key>
                <string>E174.1</string>
                <key>NSFileSystemFreeSize</key>
                <string>E174.1</string>
                <key>.systemSize</key>
                <string>E174.1,85F4.1</string>
                <key>NSFileSystemSize</key>
                <string>E174.1,85F4.1</string>
                <key>statfs</key>
                <string>E174.1,85F4.1</string>
                <key>statvfs</key>
                <string>E174.1,85F4.1</string>
                <key>fstatfs</key>
                <string>E174.1,85F4.1</string>
                <key>fstatvfs</key>
                <string>E174.1,85F4.1</string>
                <key>getattrlist</key>
                <string>E174.1,85F4.1</string>
                <key>fgetattrlist</key>
                <string>E174.1,85F4.1</string>
                <key>getattrlistat</key>
                <string>E174.1,85F4.1</string>
            </dict>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <dict>
                <key>85F4.1</key>
                <string>This reason is declared to display disk space information to the person using the device. Disk space may be displayed in units of information (e.g., bytes) or in units of time combined with a media type (e.g., minutes of HD video). Information accessed for this reason or any derived information may not be sent outside of the device. An exception allows the application to send disk space information to another device operated by the same person over a local network, solely for displaying disk space information on that device; this exception is only applicable if the user explicitly allows the sending of disk space information, and the information must not be sent over the Internet.</string>
                <key>E174.1</key>
                <string>This reason is declared to check for sufficient disk space to write files or to check if disk space is running low so that the application can delete files when disk space is insufficient. The application must behave differently in an observable manner to the user based on disk space. Information accessed for this reason or any derived information may not be sent outside of the device. An exception allows the application to avoid downloading files from the server when disk space is low.</string>
                <key>7D9E.1</key>
                <string>This reason is declared to include disk space information in optional error reports submitted by the person using the device. Disk space information must be prominently displayed to the person concerned as part of the report. Only after the user explicitly chooses to submit a specific error report including disk space information, and solely for the purpose of investigating or responding to the error report, can the information accessed or any derived information be sent outside of the device.</string>
            </dict>
        </dict>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSPrivacyAccessedAPICategoryActiveKeyboards</string>
            <key>NSPrivacyAccessedAPI</key>
            <dict>
                <key>.activeInputModes</key>
                <string>54BD.1</string>
                <key>activeInputModes</key>
                <string>54BD.1</string>
            </dict>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <dict>
                <key>3EC4.1</key>
                <string>If your application is a custom keyboard application and you access this API category to determine active keyboards on the device, declare this reason. Providing a system-wide custom keyboard must be the primary function of the application. Information accessed or any derived information for this reason may not be sent outside of the device.</string>
                <key>54BD.1</key>
                <string>This reason is declared to access active keyboard information in order to present the correct custom user interface to the person using the device. The application must have a text field for inputting or editing text, and must behave differently in an observable manner to the user based on the active keyboard. Information accessed or any derived information for this reason may not be sent outside of the device.</string>
            </dict>
        </dict>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSPrivacyAccessedAPICategoryUserDefaults</string>
            <key>NSPrivacyAccessedAPI</key>
            <dict>
                <key>NSUserDefaults</key>
                <string>CA92.1</string>
                <key>UserDefaults.standard</key>
                <string>CA92.1</string>
            </dict>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <dict>
                <key>CA92.1</key>
                <string>This reason is declared to access user defaults for reading and writing information that can only be accessed by the application itself. This reason does not allow reading information written by other applications or the system, or writing information that can be accessed by other applications.</string>
                <key>1C8F.1</key>
                <string>This reason is declared to access user defaults for reading and writing information that can only be accessed by applications, app extensions, and app clips that are members of the same application group as the application itself. This reason does not allow reading information written by applications, app extensions, or app clips outside the same application group, nor does it allow writing information that can be accessed by them.</string>
                <key>C56D.1</key>
                <string>If your third-party SDK provides wrapper functions around the user defaults API for application use, and you only access the user defaults API when your wrapper functions are called by an application, declare this reason. This reason can only be declared by third-party SDKs. Information accessed or any derived information for this reason must not be used for the third-party SDK's own purposes, nor be sent outside of the device by the third-party SDK.</string>
                <key>AC6B.1</key>
                <string>This reason is declared to access user default read keys to retrieve managed app configurations submitted via MDM, or set keys to store feedback information to be queried via MDM, as described in the Apple Mobile Device Management Protocol Reference document. com.apple.configuration.managed com.apple.feedback.managed</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
